# documentation build
# ===================

doc/_build/**
doc/_themes

# python cache files
# ==================

__pycache__/
*.pyc

# IDE & editor files
# ==================

.idea/**
*.swp

# Output files
# ============

**/output/**
**/.ipynb_checkpoints/**

# Installation files
# ==================

build/**
dist/**
*.egg-info/**
bclustering/git_info.json

# MISC
# ====

examples/jupyter_notebooks/test/test_auto_generated_tests/**
