repos:
-   repo: https://github.com/python/black
    rev: stable
    hooks:
    -   id: black
        args: ["-l", "80", "-t", "py34"]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: local
    hooks:
    -   id: nbstripout
        name: nbstripout
        description: Strip output from jupyter noteboooks
        entry: nbstripout
        language: system
-   repo: https://github.com/codespell-project/codespell
    rev: ''
    hooks:
    -   id: codespell
        args: ["-I", "codespell.txt"]
