# This list of requirements is used by mybinder.
# It also contains additional dependencies for plotting (and perhaps more
# in the future).
# Note: setup.py will also check (as a consistency check), that this list of
# packages corresponds to the sum of its own lists, so make sure you keep both
# files in sync!
pandas
numpy
scipy
gitpython
nbconvert
nbformat
jupyter_client
matplotlib
sklearn
colorlog
ipykernel
wilson
tqdm
sqlalchemy
flavio
